Repository universal-ctags/ctags, pull requests merged in 2018-08, with the labels that each got.

#1812 Fix list of supported flags in the help for "fields" and "extras" options
  main/options.c
Labels: Main part

#1838 Asciidoc: new parser
  Units/parser-asciidoc.r/anchor-asciidoc.d/expected.tags
  Units/parser-asciidoc.r/anchor-asciidoc.d/input.asciidoc
  Units/parser-asciidoc.r/simple-asciidoc.d/expected.tags
  Units/parser-asciidoc.r/simple-asciidoc.d/input.asciidoc
  Units/parser-asciidoc.r/utf8-asciidoc.d/expected.tags
  Units/parser-asciidoc.r/utf8-asciidoc.d/input.asc
  docs/news.rst
  main/parsers.h
  parsers/asciidoc.c
  source.mak
  win32/ctags_vs2013.vcxproj
  win32/ctags_vs2013.vcxproj.filters
Labels: Parsers

#1834 Docs: update the man page doc
  man/Makefile
  man/ctags.1.rst.in
Labels: Documentation
