Repository universal-ctags/ctags, pull requests merged in 2019-05, with the labels that each got.

#2032 Update docs/optlib
  docs/optlib.rst
Labels: Documentation

#2070 Moose subparser based on perl parser
  Tmain/list-fields-with-prefix.d/stdout-expected.txt
  Tmain/list-fields.d/stdout-expected.txt
  Tmain/list-subparsers-all.d/stdout-expected.txt
  Units/simple-moose.d/args.ctags
  Units/simple-moose.d/expected.tags
  Units/simple-moose.d/input.pl
  docs/news.rst
  main/parse.c
  main/parsers_p.h
  parsers/moose.c
  parsers/perl.c
  parsers/perl.h
  parsers/tcloo.c
  source.mak
  win32/ctags_vs2013.vcxproj
  win32/ctags_vs2013.vcxproj.filters
Labels: Parser bug/enhancement

#2097 Tag relative option with no argument
  Tmain/tag-relative-option-no-optarg.d/exit-expected.txt
  Tmain/tag-relative-option-no-optarg.d/run.sh
  docs/news.rst
  main/options.c
  man/ctags.1.rst.in
Labels: Documentation, Main part

#2084 ActionScript: Fix and improve the parser
  Tmain/list-roles-with-kind-names.d/stdout-expected.txt
  Tmain/list-roles.d/stdout-expected.txt
  Units/parser-flex.r/as-first-token.d/expected.tags
  Units/parser-flex.r/as-first-token.d/input.as
  Units/parser-flex.r/classes.d/args.ctags
  Units/parser-flex.r/classes.d/expected.tags
  Units/parser-flex.r/classes.d/input.as
  Units/parser-flex.r/const.d/args.ctags
  Units/parser-flex.r/const.d/expected.tags
  Units/parser-flex.r/const.d/input.as
  Units/parser-flex.r/const2.d/expected.tags
  Units/parser-flex.r/const2.d/input.as
  Units/parser-flex.r/flex_only_mxml.mxml.d/expected.tags
  Units/parser-flex.r/flex_with_actionscript.mxml.d/expected.tags
  Units/parser-flex.r/method-attributes.d/expected.tags
  Units/parser-flex.r/method-attributes.d/input.as
  Units/parser-flex.r/packages.d/expected.tags
  Units/parser-flex.r/packages.d/input.as
  Units/parser-flex.r/sampler.d/args.ctags
  Units/parser-flex.r/sampler.d/expected.tags
  Units/parser-flex.r/sampler.d/input.as
  Units/review-needed.r/flex_override.mxml.t/expected.tags
  parsers/flex.c
Labels: Parser bug/enhancement
