Repository universal-ctags/ctags, pull requests merged in 2022-06, with the labels that each got.

#3403 pull the latest libreadtags and packcc
  Tmain/readtags-simple-listing.d/stderr-expected.txt
  appveyor.yml
  libreadtags/.github/workflows/msys2.yml
  libreadtags/.gitignore
  libreadtags/NEWS.md
  libreadtags/configure.ac
  libreadtags/readtags.c
  libreadtags/readtags.h
  libreadtags/tests/Makefile.am
  libreadtags/tests/test-fix-large-tags.c
  misc/packcc/LICENSE
  misc/packcc/README.md
  misc/packcc/benchmark/benchmark.sh
  misc/packcc/benchmark/grammars/calc.peg
  misc/packcc/benchmark/grammars/json.peg
  misc/packcc/benchmark/grammars/kotlin.peg
  misc/packcc/examples/ast-tinyc/README.md
  misc/packcc/src/packcc.c
  misc/packcc/tests/character_classes_2.d/expected.txt
  misc/packcc/tests/character_classes_2.d/input.peg
  misc/packcc/tests/character_classes_2.d/input.txt
  misc/packcc/tests/code_generation.d/generation.bats
  misc/packcc/tests/dump.d/expected.txt
  misc/packcc/tests/lines.d/input.peg
  misc/packcc/tests/lines.d/lines.bats
Labels: BUILDSYS|git operation|workflow|test harness, Windows, readtags, External library

#3408 win32: Set eol only for win32 directory
  .gitattributes
Labels: BUILDSYS|git operation|workflow|test harness, Windows

#3415 C++: extract template class constructors
  Units/parser-cxx.r/templates6.d/args.ctags
  Units/parser-cxx.r/templates6.d/expected.tags
  Units/parser-cxx.r/templates6.d/input-0.cpp
  Units/parser-cxx.r/templates6.d/input.hpp
  Units/parser-cxx.r/templates6.d/validator
  parsers/cxx/cxx_parser_function.c
Labels: C/C++

#3344 Cxx: add missing code for resetting typedef parsing state
  Units/parser-c.r/func-after-typedef-for-fptr-returning-enum.d/args.ctags
  Units/parser-c.r/func-after-typedef-for-fptr-returning-enum.d/expected.tags
  Units/parser-c.r/func-after-typedef-for-fptr-returning-enum.d/input.c
  Units/parser-c.r/func-after-typedef-for-fptr-returning-struct.d/args.ctags
  Units/parser-c.r/func-after-typedef-for-fptr-returning-struct.d/expected.tags
  Units/parser-c.r/func-after-typedef-for-fptr-returning-struct.d/input.c
  parsers/cxx/cxx_parser.c
Labels: C/C++

#3374 JavaScript use cork API, the 2nd trial
  Tmain/list-roles.d/stdout-expected.txt
  Units/extra-anonymous.d/expected.tags
  Units/parser-javascript.r/bug3036476.js.d/expected.tags
  Units/parser-javascript.r/bug3571233.js.d/expected.tags
  Units/parser-javascript.r/js-comma-at-end-of-object.d/expected.tags
  Units/parser-javascript.r/js-commas-and-missing-semicolons.d/expected.tags
  Units/parser-javascript.r/js-complex-return.d/expected.tags
  Units/parser-javascript.r/js-crlf.d/expected.tags
  Units/parser-javascript.r/js-es6-class.d/expected.tags
  Units/parser-javascript.r/js-es6-mixin.d/expected.tags
  Units/parser-javascript.r/js-func-in-method.d/README
  Units/parser-javascript.r/js-func-in-method.d/args.ctags
  Units/parser-javascript.r/js-func-in-method.d/expected.tags
  Units/parser-javascript.r/js-func-in-method.d/input.js
  Units/parser-javascript.r/js-many-functions.d/expected.tags
  Units/parser-javascript.r/jsFunc_tutorial.js.d/expected.tags
  Units/parser-javascript.r/ui5.controller.js.d/expected.tags
  Units/review-needed.r/simple.js.t/expected.tags
  parsers/jscript.c
Labels: Parser bug/enhancement
